<%- include ../layouts/cabecera.ejs %>

<div class="card">
  <div class="card-header">Registrar un nuevo vehículo</div>
  <div class="card-body">
    <h5 class="card-title">Datos del vehículo</h5>
    <form method="post" action="/vehiculos">
      <div class="form-group">
        <label for="my-input">Introduzca la Placa: </label>
        <input id="my-input" class="form-control" type="text" name="placa" required/>
      </div>
      <div class="form-group">
        <label for="my-select">Seleccione el Tipo de Vehiculo:</label>
        <select id="my-select" class="form-control" name="tipo_vehiculo">
          <option value="oficial">Oficial</option>
          <option value="residente">Residente</option>
          <option value="no_residente">No residente</option>
        </select>
      </div>
      <button class="btn btn-success" type="submit">Guardar</button>
      <a class="btn btn-primary" href="/vehiculos">Cancelar</a>
    </form>
  </div>
</div>

<%- include ../layouts/pie.ejs %>
