<%- include ../layouts/cabecera.ejs %>

<form method="post" action="/vehiculos">
  <div class="form-group">
    <label for="my-input">Introduzca la Placa: </label>
    <input id="my-input" class="form-control" type="text" name="placa" />
  </div>
  <div class="form-group">
    <label for="my-select">Seleccione el Tipo de Vehiculo:</label>
    <select id="my-select" class="form-control" name="tipo_vehiculo">
      <option>oficial</option>
      <option>residente</option>
      <option>no_residente</option>
    </select>
  </div>
  <button class="btn btn-primary" type="submit">Guardar</button>
</form>

<%- include ../layouts/pie.ejs %>
