<%- include ../layouts/cabecera.ejs %>

<h1 class="d-flex justify-content-center">Editar</h1>
<form method="post" action="../actualizar">
  <input type="hidden" name="id" value="<%= vehiculo.id  %> " />
  <div class="form-group">
    <label for="my-input">Introduzca la Placa: </label>
    <input
      id="my-input"
      value="<%= vehiculo.placa %> "
      class="form-control"
      type="text"
      name="placa"
    />
  </div>
  <div class="form-group">
    <label for="my-select">Seleccione el Tipo de Vehiculo:</label>
    <select id="my-select" class="form-control" name="tipo_vehiculo">
      <option value="oficial">Oficial</option>
      <option value="residente">Residente</option>
      <option value="no_residente">No residente</option>
    </select>
  </div>
  <button class="btn btn-primary" type="submit">Guardar</button>
</form>

<%- include ../layouts/pie.ejs %>
